*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0!important;
    box-shadow: none!important;
    font-family: 'Roboto Condensed', sans-serif;
}

.loginBox{
    width: 30%;
    margin: 0 auto;
    padding: 1em 1em;
    background-color: white;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    min-width: 320px;
}

.headerDash{
    background-color: #0078FF;
}
